<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/tx
	        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd ">
		<!-- 声明式事务 -->
		<tx:advice id="txAdvice" transaction-manager="transactionManager">
			<tx:attributes>
				<tx:method name="*" propagation="REQUIRED" />
				<!-- REQUIRED表示如有事务则沿用，没有则新建 -->
				<tx:method name="save*" propagation="REQUIRED" />
				<tx:method name="delete*" propagation="REQUIRED" />
				<tx:method name="update*" propagation="REQUIRED" />
				<!-- 只读事务会针对查询做优化 -->
				<tx:method name="*" read-only="true" />
			</tx:attributes>
		</tx:advice>
	
		<aop:config>
			<aop:pointcut expression="execution(* cn.geekc.ssm.service..*(..))" 
				id="company" />
			<aop:advisor advice-ref="txAdvice" pointcut-ref="company" />
		</aop:config>
		
</beans>