<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- spymemcached缓存的配置 -->
	<context:property-placeholder location="classpath:memcached.properties" />
	<bean id="memcachedClient" class="net.spy.memcached.spring.MemcachedClientFactoryBean">
		<!-- 服务 -->
		<property name="servers" value="${memcached.host1}:${memcached.port1},${memcached.host2}:${memcached.port2}" />
		<!-- 协议 -->
		<property name="protocol" value="BINARY" />
		<!-- 设置默认的转码器(默认以net.spy.memcached.transcoders.SerializingTranscoder) -->
		<property name="transcoder">
			<bean class="net.spy.memcached.transcoders.SerializingTranscoder">
				<property name="compressionThreshold" value="1024" />
			</bean>
		</property>
		<!-- 以毫秒为单位设置默认的操作超时时间 -->
		<property name="opTimeout" value="5000" />
		<property name="timeoutExceptionThreshold" value="2000" />
		<!-- 这是一个坑：<property name="hashAlg" value="KETAMA_HASH"/>-->
		<property name="hashAlg">
			<value type="net.spy.memcached.DefaultHashAlgorithm">KETAMA_HASH</value>
		</property>
		<!-- 设置定位器类型(ARRAY_MOD,CONSISTENT),默认是ARRAY_MOD -->
		<property name="locatorType" value="CONSISTENT" />
		<!-- 设置故障模式(取消，重新分配，重试)，默认是重新分配 -->
		<property name="failureMode" value="Redistribute" />
		<!-- 使用Nagle算法，设置为true -->
		<property name="useNagleAlgorithm" value="false" />
	</bean>
	
	<!-- <bean class="cn.geekc.ssm.security.ToKenCheckInterceptor">
		<property name="memcachedClient" ref="memcachedClient" />
	</bean> -->
</beans>